html {
    background: rgb(255,255,255)
}

#navigation {
    background-image: url(Images/Bar.png);
    padding: 0.001em;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    text-align: center;
    font-weight: normal;
}

#navlist li {
    display: inline;
    list-style-type: none;
    padding: 10px;
}

body {
    background: rgb(0,172,255);
    text-align: center;
    padding: 0;
    margin: 0;
}

#MainContent {
    background: rgb(255,255,255);
    margin-left: 200px;
    margin-right: 200px;
}

#Footer {
    background-image: url(Images/BottomBar.png);
    padding: 0.001em;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: normal;
}

a:link { color: rgb(0, 255, 0) }
a:visited { color: rgb(0, 190, 0) }
a:hover { color: rgb(255, 162, 0) }
a:active { color: rgb(255, 0, 102) }
