/* Note to self: If something refuses to work, double-check you've put a ; at the end of each line. */

html {
    background: rgb(255,255,255); /* Set background below footer to white in case the page doesn't need to scroll */
    font-family: sans-serif; /* Use a sans-serif font because it's easier to read, esp. for those who have dyslexia or similar */
}

body {
    background: rgb(0,172,255); /* Set background colour to the deepest blue used in the Bar.png and BottomBar.png images so it blends in nicely */
    text-align: center;
    padding: 0;
    margin: 0;
}

/* -- Main Navigation -- */

#navigation {
    background-image: url(/Images/Bar.png);
    padding: 1px;
    font-weight: normal;
}

#navlist li.main {
    display: inline;
    list-style-type: none;
    padding: 10px;
    position: relative;
}

/* -- End Main Navigation -- */
/* -- Submenu Navigation -- */

#navlist ul {
    background:rgb(0,172,255); /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}

#navlist ul li {
    /* Radial background here. Try to support as many browsers as possible */
    background: black; /* For browsers that have absolutely no support for radial gradients */
    background: -webkit-radial-gradient(ellipse, rgb(0,172,255) 5%, black 95%); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(ellipse, rgb(0,172,255) 5%, black 95%); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(ellipse, rgb(0,172,255) 5%, black 95%); /* For Firefox 3.6-15 */
    background: -ms-linear-gradient(top, rgb(0, 172,255) 5%, black 95%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00acFF', endColorstr='#000000', GradientType=0); /* IE6-9 */
    background: radial-gradient(ellipse, rgb(0,172,255) 5%, black 95%); /* Standard syntax */
}

#navlist ul li.first {
    /* *** For some reason, this puts the 1st element behind the buttons. Need to find out why *** */
    /* Radial background here. Try to support as many browsers as possible */
    /* No background for older browsers */
    background: -webkit-radial-gradient(ellipse, rgba(0,172,255,0) 5%, black 95%); /* Safari 5.1-6.0 */
    background: -o-radial-gradient(ellipse, rgba(0,172,255,0) 5%, black 95%); /* For Opera 11.6-12.0 */
    background: -moz-radial-gradient(ellipse, rgba(0,172,255,0)) 5%, black 95%); /* For Firefox 3.6-15 */
    background: -ms-linear-gradient(top, rgba(0,172,255,0) 5%, black 95%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ACFF', endColorstr='#FF000000', GradientType=0); /* IE6-9 */
    background: radial-gradient(ellipse, rgba(0,172,255,0) 5%, black 95%); /* Standard syntax */
}

#navlist li:hover ul { /* Display the dropdown on hover */
    left: -38px; /* Bring back on-screen when needed */
    top: -12px;
}

/* -- End Submenu Navigation -- */
/* -- Begin In-Page Navigation -- */

#MainContent nav {
    text-align: left;
    float: left;
    border: 1px solid black;
    width: 320px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

#InPageNavTitle {
    text-align: center; /* The title for the in-page navigation should be centered *** FIX LATER *** */
}

#InPageNavigation, #InPageNavigation ol {
    counter-reset: item;
}

#InPageNavigation li {
    display: block;
}

#InPageNavigation li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

/* -- End In-Page Navigation -- */

#MainContent {
    background: rgb(255,255,255);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
}

/* -- Text frames -- */
iframe {
    margin: 30px;
    border: 0; /* Get rid of unwanted border around the edge of the control */
    width: 100%;
}

iframe.BesideNav {
    width: 60%; /* Use 60% width when the iframe is beside the in-page navigation, so it can wrap */
}

/* -- Footer -- */
footer {
    background-image: url(/Images/BottomBar.png);
    padding: 0.001em;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: normal;
    overflow: auto;
}

footer p {
    text-align: center;

}

#FooterLinks {
    margin-left: 300px;
    margin-right: 300px;
}

#FooterLinks::after {
    clear: both;
}

#HTML5Link {
    float: left;
}

#CSS3Link {
    float: right;
}

/* -- Links */
a { color: rgb(0, 255, 0) }
a:visited { color: rgb(0, 190, 0) }
a:hover { color: rgb(255, 162, 0) }
a:active { color: rgb(255, 0, 102) }

a, img {
    border:none;
    outline:none;
}
