Source: ddrescue-gui
Section: utils
Priority: extra
Maintainer: Hamish McIntyre-Bhatty <hamishmb@live.co.uk>
Build-Depends: debhelper (>= 5), cdbs (>= 0.2)
Standards-Version: 3.9.7

Package: ddrescue-gui
Architecture: all
Depends: python-wxtools, gddrescue, python2.7, bash, lshw, util-linux, kpartx, python-bs4, libnotify-bin, psmisc, coreutils, mount, sudo, ${misc:Depends}
Description: A simple GUI frontend to make gddrescue easier to use.
