/* Note to self: If something refuses to work, double-check you've put a ; at the end of each line. */

html {
    background: rgb(255,255,255); /* Set background below footer to white in case the page doesn't need to scroll */
    font-family: sans-serif; /* Use a sans-serif font because it's easier to read, esp. for those who have dyslexia or similar */
}

body {
    background: rgb(0,112,195); /* Set background colour to the deepest blue used in the Bar.png and BottomBar.png images so it blends in nicely */
    text-align: center;
    padding: 0;
    margin: 0;
}

/* -- Links */

a { color: rgb(0, 0, 255); } /* Default Colour */
a:visited { color: rgb(85, 26, 139); } /* Default Colour */
a:hover { color: rgb(0, 0, 255); } /* No difference when hovering */
a:active { color: rgb(255, 0, 180); } /* Pink */

/* -- Main Navigation -- */

#navigation {
    background-image: url(/files/Images/Bar.png);
    padding: 1px;
    font-weight: normal;
}

#navlist li.main {
    display: inline;
    list-style-type: none;
    padding: 10px;
    position: relative;
    font-weight: bold;
}

/* -- Links In Main Navigation -- */
#navlist a:link { color: rgb(0, 0, 255); } /* Default Colour */
#navlist a:visited { color: rgb(0, 0, 255); } /* Same as unvisited in navbar */
#navlist a:hover { color: rgb(0, 0, 255); } /* No difference when hovering */
#navlist a:active { color: rgb(255, 0, 180); } /* Pink */

/* -- Current Page Links In Main Navigation */
#navlist a.CurrentPage:link { color: red; }
#navlist a.CurrentPage:visited { color: red; }
#navlist a.CurrentPage:hover { color: red; }

a, img {
    border:none;
    outline:none;
}

/* -- End Main Navigation -- */
/* -- Submenu Navigation -- */

#navlist ul {
    background: rgb(255,255,255); /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */

}

#navlist ul li {
    background: white;
    opacity: 0;
    text-align: left;
    box-shadow: 5px 5px 10px;
    font-weight: normal;
}

/* Set correct widths */
#navlist ul.Screenshots {
    width: 130px;
}

#navlist ul.Changelogs {
    width: 122px;
}

#navlist ul.Downloads {
    width: 115px;
}

#navlist ul.Documentation {
    width: 155px;
}

#navlist ul.Museum {
    width: 93px;
}

#navlist ul li.first {
    /* Support old Firefox and Webkit browsers */
    -moz-border-radius-topleft: 5px; 
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#navlist ul li.last {
    /* Support old Firefox and Webkit browsers */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#navlist li:hover ul { /* Display the dropdown on hover */
    left: -38px; /* Bring back on-screen when needed */
}

#navlist li:hover ul li {
    opacity: 1;
    transition: all 0.5s ease;
}

/* -- End Submenu Navigation -- */
/* -- Begin In-Page Navigation -- */

#MainContent nav {
    text-align: left;
    float: left;
    border: 1px solid black;
    width: 320px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

#InPageNavTitle {
    text-align: center; /* The title for the in-page navigation should be centered *** FIX LATER *** */
}

#InPageNavigation, #InPageNavigation ol {
    counter-reset: item;
}

#InPageNavigation li {
    display: block;
}

#InPageNavigation li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

/* -- End In-Page Navigation -- */
/* -- Main Content -- */
#MainContent {
    background: rgb(255,255,255);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* -- Text frames -- */
iframe {
    margin: 30px;
    border: 0; /* Get rid of unwanted border around the edge of the control */
    width: 100%;
}

iframe.BesideNav {
    width: 60%; /* Use 60% width when the iframe is beside the in-page navigation, so it can wrap */
}

/* -- Tables -- */
table {
    text-align: left;
    border: 1px solid black;
}

/* -- Footer -- */
footer {
    background: #ffb260; /* Older browsers */
    background: -moz-linear-gradient(top,  #ffb260 0%, #ff7f13 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb260), color-stop(100%,#ff7f13)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffb260 0%,#ff7f13 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffb260 0%,#ff7f13 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffb260 0%,#ff7f13 100%); /* IE10+ */
    background: linear-gradient(top,  #ffb260 0%,#ff7f13 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb260', endColorstr='#ff7f13',GradientType=0 ); /* IE6-9 */
    padding: 0.001em;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: normal;
    overflow: auto;
}

#FooterLinks {
    margin-left: 100px;
    margin-right: 100px;
}

#FooterLinks::after {
    clear: both;
}

#HTML5Link {
    float: left;
}

#CSS3Link {
    float: right;
}
